@import url("https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jersey+25&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Jersey 25", sans-serif;
  --animate-duration: 3000ms;
  color: #242424;
  --background-secondary: #2a3646;
  --background-primary: #131920;
  --secondary: #f7a08d;
  --accent: #ff8fc8;
}

section {
  margin-top: 10rem;
  padding: 4rem 8%;
}

.emptycart__box {
  background-color: rgba(20, 20, 20, 0.3);
  border: 2px solid #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  gap: 3rem;
}

button {
  height: 4rem;
  width: 14rem;
  color: #fff;
  font-size: 1.5rem;
  background: rgba(20, 20, 20, 0.3);
  white-space: nowrap;
  &:hover {
    opacity: 0.8;
    color: #000;
    background-color: rgba(200, 200, 225, 0.8);
  }
}

h4 {
  font-size: 2rem;
}

.section {
  display: flex;
  gap: 3rem;
}

.cartbox {
  flex: 1 1 58%;
  background: rgba(225, 225, 225, 0.6);
  padding: 2rem;
}

.cartbox .innerbox {
  width: 48rem;
  display: flex;
  font-size: 1.4rem;
  height: 26rem;
  border: 3px solid #555;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.cartbox .imgbox {
  height: 23rem;
  width: 23rem;
  padding: 1rem;
  margin: 0 auto;
}

.cartbox .innerbox .product__info {
  margin-top: 3rem;
}

.cartbox .innerbox h3 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 16rem;
}

.cartbox h1 {
  font-size: 2rem;
  margin-top: 1rem;
}
.cartbox .header {
  display: flex;
  width: 48rem;
  justify-content: space-between;
}

.cartbox .innerbox .price {
  background-color: rgba(20, 20, 20, 0.8);
  margin: 0 auto;
  padding-top: 0.5rem;
  color: green;
  width: 9rem;
  height: 3rem;
}

.product__info p {
  max-width: 30rem;
  font-weight: normal;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.product__info .lowinfobox {
  display: flex;
  gap: 1rem;
}

.quantity {
  display: flex;
  gap: 1rem;
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 2rem;
  color: green;
  width: 8rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}


.clr-btn {
  width: 34rem;
  font-size: 1.4rem;
  margin-left: 6rem;
}

.rightbox {
  flex: 1 1 25%;
  padding: 3rem 2rem;
  width: 30rem;
  border: 3px solid #444;
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  position: fixed;
  right: 10%;
  top: 33%;
}

.rightbox p {
  font-size: 1.3rem;
}

.rightbox button {
  margin: 0 auto;
}

hr {
  height: 1rem;
  border: none;
  background-color: #ccc;
  margin-bottom: 2rem;
}

.boxed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .cartbox .innerbox {
    width: 36rem;
    height: 30rem;
  }

  .cartbox .header {
    width: 36rem;
  }

  .product__info p {
    max-width: 23rem;
  }

  .rightbox {
    margin-left: 5rem;
    position: static;
  }

  .clr-btn {
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .product__info p {
    display: none;
  }
}
